<section class="login-dark">
    <form action="/users/login" method="POST">
        <h2 class="sr-only">Login Form</h2>
        <%- include ("./partials/messages") %>
        <div class="illustration"><i class="icon ion-ios-locked-outline"></i></div>
        <div class="form-group"><input class="form-control" type="text" name="username" placeholder="Username"></div>
        <div class="form-group"><input class="form-control" type="password" name="password" placeholder="Password"></div>
        <div class="form-group"><button class="btn btn-primary btn-block vbutton" type="submit">Log In</button></div><a class="forgot" href="#">Forgot your email or password?</a>
    </form>
</section>

 