
<body>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-white portfolio-navbar gradient">
        <div class="container"><a class="navbar-brand logo" href="#">BugCrusher</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navbarNav"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="btn btn-outline-primary vwhite" role="button" href="/users/login" style="color: #fff;border-color: #fff;">Login</a>
                    </li>
                    
                </ul>
            </div>
        </div>
    </nav>
    <main class="page lanidng-page">
        <section class="portfolio-block block-intro">
            <div class="container">
                <div class="avatar" style="background-image:url(&quot;logos/1.png&quot;);"></div>
                <div class="about-me">
                    <p>Hello! Welcome to bugCrusher, our novel tool for tracking and dashing those annoying bugs.&nbsp;</p><a class="btn btn-outline-primary vorange" role="button" href="/users/login" style="color: #cc6510;border-color: #CC6510;">Get&nbsp; Started</a>
                </div>
            </div>
        </section>
    </main>
    
</body>
